


<!-- BEGIN FOOTER
================================================== -->
<section class="nowidgetbottom">
<p id="back-top">
	<a href="#top"><span><i class="fa fa-chevron-up"></i></span></a>
</p>
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<a class="footer-logo" href="index.html">
				<div>
			<img class="footer-logo" src="img/ws_logo.jpg" width="50" alt=""/>
				websocket.org
			</div>
			</a>
			<br/>
			<ul class="social-icons" style="margin-top:7px;margin-bottom:5px;">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			 <b>websocket.org</b> is powered by Kaazing. | All Rights Reserved.
		</div>
	</div>
</div>
</section>
<!-- END FOOTER
================================================== -->


<script src='js/bootstrap.js'></script>
<script src='js/easing.js'></script>
<script src='js/smoothscroll.js'></script>
<script src='js/wow.js'></script>
<script src='js/appear.js'></script>
<script src='js/fitvids.js'></script>
<script src='js/common.js'></script>
<script src='js/flexslider.js'></script>
<script src='js/countto.js'></script>
<script src='js/jquery.cycle.all.min.js'></script>
<script src='js/carousel.js'></script>
<script src='js/carousel-anything.js'></script>
<script src='js/carousel-testimonials.js'></script>
<script src='js/isotope.js'></script>
<script src='js/carousel-blog.js'></script>
<script src='js/parallax.js'></script>
<script src='js/validate.js'></script>
<script src='js/prettify.js'></script>
</body>
</html>