
<!-- BEGIN MENU
================================================== -->

<div id="navigation" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{site.baseurl}}/index.html">
				<div class="logo-container">
					<span class="helper"></span><img class="header-logo" src="{{site.baseurl}}/img/websocketlogo-medium.png" alt=""/>
				</div>
			</a>
			<a class="navbar-brand" href="index.html">
			</a>
		</div>

		<div class="navbar-collapse collapse pull-right" id="mainMenu">
			<ul id="menu-main-menu" class="nav navbar-nav">
				<li><a href="{{site.baseurl}}/index.html">Home</a></li>
				<li class="menu-item-has-children"><a href="#" class="no-scroll">Demos</a>
					<ul class="sub-menu">
						<li><a href="{{site.baseurl}}/echo.html">Echo Test</a></li>
						<li><a href="{{site.baseurl}}/demos.html">Demos on the Web</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children"><a href="#" class="no-scroll">Articles</a>
					<ul class="sub-menu">
						<li><a href="{{site.baseurl}}/aboutwebsocket.html">About WebSocket</a></li>
						<li><a href="{{site.baseurl}}/quantum.html">Benefits of WebSocket</a></li>
					</ul>
				</li>
				<li><a href="{{site.baseurl}}/book.html">Book</a></li>
				<!-- <li><a href="{{site.baseurl}}/download.html">Download</a></li> -->
				<li><a href="http://developer.kaazing.com/downloads/">Download</a></li>
				<!-- <li class="menu-item-has-children"><a href="#" class="no-scroll">Download</a>
					<ul class="sub-menu">
						<li><a href="http://kaazing.org">Kaazing Open Source Community Edition</a></li>
						<li><a href="http://kaazing.com/products/kaazing-websocket-gateway/">Kaazing Enterprise Edition</a></li>
						<li><a href="http://kaazing.com/kwic/">Kaazing WebSocket Intercloud Connect</a></li>
					</ul>
				</li> -->
				<li><a href="{{site.baseurl}}/about.html">About</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- END MENU
================================================== -->