
<!-- BEGIN MENU
================================================== -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">
			<span><img class="header-logo" src="img/websocketlogo-medium.png" alt=""/></span>
			<!-- <span><img class="header-logo" src="img/ws_logo.jpg" alt=""/></span> -->
			<!-- <span class="navbar-logo-text">
					websocket.org
			</span> -->
			</a>
		</div>

		<div class="navbar-collapse collapse pull-right" id="mainMenu">
			<ul id="menu-main-menu" class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="menu-item-has-children"><a href="#" class="no-scroll">Demos</a>
				<ul class="sub-menu">
					<li><a href="echo.html">Echo Test</a></li>
					<li><a href="demos.html">Demos on the Web</a></li>
				</ul>
				</li>
				<li><a href="aboutwebsocket.html">About WebSocket</a></li>
				<li><a href="quantum.html">Benefits of WebSocket</a></li>
				<li><a href="book.html">Book</a></li>
				<!-- <li><a href="#pricing">Pricing</a></li>
				<li><a href="#recent-posts">Blog</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="menu-item-has-children"><a href="#" class="no-scroll">Features</a>
				<ul class="sub-menu">
					<li><a href="elements.html" class="no-scroll">Elements</a></li>
					<li><a href="columns.html" class="no-scroll">Columns</a></li>
					<li><a href="youtubevideo.html" class="no-scroll">Full Width Video</a></li>
					<li><a href="fullwidthslider.html" class="no-scroll">Full Width Slider</a></li>
					<li><a href="sliderwithcaption.html" class="no-scroll">Slider with Caption</a></li>
					<li><a href="headings.html" class="no-scroll">Headings</a></li>
					<li><a href="fontawesome.html" class="no-scroll">Font Awesome</a></li>
				</ul>
				</li> -->
			</ul>
		</div>
	</div>
</div>
<!-- END MENU
================================================== -->