<html lang="en">
	<head>
		<!-- Meta, title -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="websocket.org - WebSocket technology, demos, articles, and products.">
		<meta name="keywords" content="HTML5, WebSocket, real-time, JMS, AMQP, XMPP, MQTT, framework, ESB, message broker, messaging, streaming, stock, KWIC">
		<meta name="author" content="Kaazing">
		<title>{{ page.title }}</title>

		<!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,400italic,500,600,700,700,800,900italic&amp;subset=latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=ABeeZee:100,200,300,400,400italic,500,600,700,700,800,900italic&amp;subset=latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese' rel='stylesheet' type='text/css'/>

		<!-- CSS -->
		<link rel='stylesheet' href='{{site.baseurl}}/css/bootstrap.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{site.baseurl}}/css/shortcodes.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{site.baseurl}}/css/font-awesome.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{site.baseurl}}/css/animate.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{site.baseurl}}/css/style.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{site.baseurl}}/css/skins/orange.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{site.baseurl}}/css/prettify.css' type='text/css' media='all'/>

		<!-- Jquery -->
		<script type='text/javascript' src='{{site.baseurl}}/js/jquery.js'></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="js/html5shiv.min.js"></script>
		  <script src="js/respond.min.js"></script>
		<![endif]-->

		<!-- Favicons -->
		<link rel="icon" href="{{site.baseurl}}/img/favicon.ico">
	</head>
	<body>