<!-- SECTION services
================================================== -->
<section id="services" class="page-wrapper light-bg">

	<div class="container">

		<div class="title-area">
			<h2 class="title">Facts About websocket.org </h2>
			<p class="subtitle">
				The <a style="border-bottom: 1px dotted #000; border-color: orange; text-decoration: none;" href="{{site.baseurl}}/echo.html">websocket.org Echo Test</a> serves as the defacto test bed for websocket-based applications and services.
			</p>
			<p class="subtitle">
				websocket.org is run by Kaazing's industry leading enterprise grade, high performance WebSocket server.
			</p>
		</div><!-- /.title-area -->

		<div class="row page-content">

			<div class="col-md-4">
				<div class="feature-item wow " data-wow-delay="0.1s">
					<div class="icon" style="background-color:#444;">
						<i class="fa fa-globe icon-custom-style"></i>
					</div>
					<h4>Trusted by the World</h4>
					<p class="description">
						CREATORS OF THE WEBSOCKET STANDARD
					</p>
					<span class="sep"></span>
					<p>
						Tier 1 banks, media & entertainment companies, Fortune 100 transportation companies, and many more trust the server that runs websocket.org.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="col-md-4">
				<div class="feature-item wow " data-wow-delay="0.3s">
					<div class="icon">
						<i class="fa fa-rocket icon-custom-style"></i>
					</div>
					<h4>High Performance</h4>
					<p class="description">
						Designed for Speed
					</p>
					<span class="sep"></span>
					<p>
						The WebSocket server powering websocket.org is capable of delivering a billion messages an hour, a multitude of messages Twitter delivers a day.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="col-md-4">
				<div class="feature-item wow " data-wow-delay="0.5s">
					<div class="icon" style="background-color:#444;">
						<i class="fa fa-lock icon-custom-style"></i>
					</div>
					<h4>Highly Secure</h4>
					<p class="description">
						Trusted by Tier-1 banks
					</p>
					<span class="sep"></span>
					<p>
						The Kaazing WebSocket Gateway is popular among Fortune 500 financial services companies running sophisticated web-based and desktop trading dashboards.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="clearfix"></div>
			<div style="height: 25px"></div>

			<div class="col-md-4">
				<div class="feature-item shortcfeature2 wow" data-wow-delay="0.5s">
					<div class="icon" style="color:#444;border:1px solid #666;">
						<i class="fa fa-cloud icon-custom-style"></i>
					</div>
					<h4>Highly Scalable</h4>
					<p class="description">
						Linear scalability. Period.
					</p>
					<span class="sep"></span>
					<p>
						Clustering of WebSocket servers offers liner scalability, high availability, rolling upgrades, as well as support for geographically distributed topologies.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="col-md-4">
				<div class="feature-item shortcfeature2 wow " data-wow-delay="0.9s">
					<div class="icon">
						<i class="fa fa-industry icon-custom-style"></i>
					</div>
					<h4>Enterprise Grade</h4>
					<p class="description">
						Built by the industry's finest engineers
					</p>
					<span class="sep"></span>
					<p>
						Developer productivity, lifecycle management, deployment to complex IT infrastructure, administration and management, 24x7 support, just to name a few.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="col-md-4">
				<div class="feature-item shortcfeature2 wow " data-wow-delay="1.2s">
					<div class="icon" style="color:#444;border:1px solid #666;">
						<i class="fa fa-clock-o icon-custom-style"></i>
					</div>
					<h4>Low Latency</h4>
					<p class="description">
						Unparalleled acceleration technologies
					</p>
					<span class="sep"></span>
					<p>
						In addition to low latency through patented fan-out technology, the delivery of messages is guaranteed, too. Over the public Web.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

		</div><!-- /.page-content -->

	</div><!-- /.container -->

</section>
