{% capture thumbnail %}{{ page.images[0].filename }}{% endcapture %}

<!-- SECTION work (portfolio)
================================================== -->
<section id="work" class="page-wrapper light-bg" style="padding-bottom:0px;">

  <div class="container">
    <div class="title-area">
      <h2 class="title orange">Demos </h2>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-xs-12 text-center isoportfoliofilter">
          <ul id="filters">
            <li><a data-filter=".all" class="active">All</a></li>
            <li><a data-filter=".JavaScript">JavaScript</a></li>
            <li><a data-filter=".WebSocket">WebSocket</a></li>
            <li><a data-filter=".AMQP0-9-1">AMQP 0-9-1</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.container -->

  <div id="isoposts" class="isoportfolio">

    {% assign sorted_pages = (site.pages | sort: 'language') %}
    {% for page in sorted_pages %}
    {% if page.categories contains 'demo' %}

    <div class="all item {% include utils/categoryToLanguage.html lang=page.language %} {% include utils/categoryToProtocol.html prot=page.protocol %}">
      <div class="pic">
        <img src="{{site.baseurl}}{{page.url| remove:'index.html'}}img/{{page.images[0].filename }} " class="attachment-post-thumbnail" alt=""/>
        <div class="pic-caption come-left">
        <p class="portfo-captions">
          <a href="{{page.url}}"><i class="fa fa-plus link-caption"></i></a>
          <span class="title-caption">{{page.title}}</span>
          <span class="taxonomy-caption">{% include utils/categoryToLanguage.html lang=page.language %} / {% include utils/categoryToProtocol.html prot=page.protocol %}</span>
        </p>
        </div>
      </div>
    </div><!-- /.item -->

    {% endif %}
    {% endfor %}


  </div><!-- /.isoposts -->

</section>