
	<!-- SECTION progress (counters)
	================================================== -->
	<section id="progress" class="parallax parallax-image dark-bg" style="background-color: #000000; background-image:url(img/saturn2.jpg);">

			<div class="container">

				<div class="parallax-content">

					<div class="row">

						<div class="col-md-3">
							<div class="funfacts text-center">
								<div class="icon">
									<i class="fa fa-tint"></i>
								</div>
								<h2 class="counter" data-from="12345" data-to="23456" data-speed="25000"></h2>
								<h4>Connections Established</h4>
							</div>
						</div><!-- /.col-md-3 -->

						<div class="col-md-3">
							<div class="funfacts text-center">
								<div class="icon">
									<i class="fa fa-trophy"></i>
								</div>
								<h2 class="counter" data-from="7861873" data-to="9187123" data-speed="25000"></h2>
								<h4>Frames Transferred</h4>
							</div>
						</div><!-- /.col-md-3 -->

						<div class="col-md-3">
							<div class="funfacts text-center">
								<div class="icon">
									<i class="fa fa-send-o"></i>
								</div>
								<h2 class="counter" data-from="0" data-to="317" data-speed="25000"></h2>
								<h4>Clients</h4>
							</div>
						</div><!-- /.col-md-3 -->

						<div class="col-md-3">
							<div class="funfacts text-center">
								<div class="icon">
									<i class="fa fa-user"></i>
								</div>
								<h2 class="counter" data-from="0" data-to="458" data-speed="25000"></h2>
								<h4>Successful Reconnects</h4>
							</div>
						</div><!-- /.col-md-3 -->

					</div><!-- /.row -->

				</div><!-- /.parallax-content -->

			</div><!-- /.container -->

		</div><!-- /.wrapsection -->

	</section>
