<!-- SECTION recent-posts
================================================== -->
<section id="recent-posts" class="page-wrapper light-bg" style="background-color:#f9f9f9">

  <div class="container">

    <div class="title-area">
      <h2 class="title orange">Featured Demos </h2>
    </div><!-- /.title-area -->

    <div class="row page-content">

      <div class="text-center">
        <a href="demos.html" class="btn-continue"><i class="wow fadeInLeft fa fa-arrow-right"></i> More Demos</a>
      </div>

      <div id="wowrecentposts" class="owl-carousel">

        <div class="item">
          <div class="thethumbnail">
            <a href="blogsingle.html"><img src="img/Foreign-Exchange-Dashboard.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="blogsingle.html">
            <h2>Embed Audio</h2>
            </a>
            <div class="meta clearfix">
              <span class="time"><i class="fa fa-clock-o"></i> 26 Jul 2014</span>
              <span class="comments"><a href="#"><i class="fa fa-comments"></i> 0</a></span>
            </div>
            <div class="excerpt">
              "Blog" is an abbreviated version of "weblog," which is a term used to describe websites that maintain an ongoing chronicle of information. A blog...
            </div>
          </div>
        </div><!-- /.item -->

        <div class="item">
          <div class="thethumbnail">
            <a href="blogsingle.html"><img src="img/racer.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="blogsingle.html">
            <h2>Image Alignement</h2>
            </a>
            <div class="meta clearfix">
              <span class="time"><i class="fa fa-clock-o"></i> 26 Jul 2014</span>
              <span class="comments"><a href="#"><i class="fa fa-comments"></i> 0</a></span>
            </div>
            <div class="excerpt">
              Welcome to image alignment! The best way to demonstrate the ebb and flow of the various image positioning options is to nestle them snuggly among an...
            </div>
          </div>
        </div><!-- /.item -->

        <div class="item">
          <div class="thethumbnail">
            <a href="blogsingle.html"><img src="img/Second-Screen-Application.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="blogsingle.html">
            <h2>Embed Videos</h2>
            </a>
            <div class="meta clearfix">
              <span class="time"><i class="fa fa-clock-o"></i> 26 Jul 2014</span>
              <span class="comments"><a href="#"><i class="fa fa-comments"></i> 0</a></span>
            </div>
            <div class="excerpt">
               People think focus means saying yes to the thing youӶe got to focus on. But thatӳ not what it means at all. It means saying no to the hundred...
            </div>
          </div>
        </div><!-- /.item -->

        <div class="item">
          <div class="thethumbnail">
            <a href="blogsingle.html"><img src="img/hivemq.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="blogsingle.html">
            <h2>Text Alignement</h2>
            </a>
            <div class="meta clearfix">
              <span class="time"><i class="fa fa-clock-o"></i> 26 Jul 2014</span>
              <span class="comments"><a href="#"><i class="fa fa-comments"></i> 0</a></span>
            </div>
            <div class="excerpt">
              Default This is a paragraph. It should not have any alignment of any kind. It should just flow like you would normally expect. Nothing fancy. Just...
            </div>
          </div>
        </div><!-- /.item -->

        <div class="item">
          <div class="thethumbnail">
            <a href="blogsingle.html"><img src="img/echo.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="blogsingle.html">
            <h2>HTML Tags and Formatting</h2>
            </a>
            <div class="meta clearfix">
              <span class="time"><i class="fa fa-clock-o"></i> 19 Aug 2014</span>
              <span class="comments"><a href="#"><i class="fa fa-comments"></i> 0</a></span>
            </div>
            <div class="excerpt">
              Blockquotes Single line blockquote: Stay hungry. Stay foolish. Multi line blockquote with a cite reference: People think focus means saying yes...
            </div>
          </div>
        </div><!-- /.item -->

        <div class="item">
          <div class="thethumbnail">
            <a href="blogsingle.html"><img src="img/jmsdemo.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="blogsingle.html">
            <h2>Twitter Embed</h2>
            </a>
            <div class="meta clearfix">
              <span class="time"><i class="fa fa-clock-o"></i> 26 Sep 2014</span>
              <span class="comments"><a href="#"><i class="fa fa-comments"></i> 4</a></span>
            </div>
            <div class="excerpt">
              Many blogs focus on a particular topic, such as web design, home staging, sports, or mobile technology. Some are more eclectic, presenting links to...
            </div>
          </div>
        </div><!-- /.item -->

        <div class="item">
          <div class="thethumbnail">
            <a href="blogsingle.html"><img src="img/wwm.jpg" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="blogsingle.html">
            <h2>Twitter Embed</h2>
            </a>
            <div class="meta clearfix">
              <span class="time"><i class="fa fa-clock-o"></i> 26 Sep 2014</span>
              <span class="comments"><a href="#"><i class="fa fa-comments"></i> 4</a></span>
            </div>
            <div class="excerpt">
              Many blogs focus on a particular topic, such as web design, home staging, sports, or mobile technology. Some are more eclectic, presenting links to...
            </div>
          </div>
        </div><!-- /.item -->

      </div><!-- /#wowrecentposts -->

    </div><!-- .row -->

  </div><!-- /.container -->

</section>
