<!-- SECTION recent-posts
================================================== -->
<section id="recent-posts" class="page-wrapper light-bg" style="background-color:#f9f9f9">

  <div class="container">

    <div class="title-area">
      <h2 class="title orange">Featured Demos </h2>
    </div><!-- /.title-area -->

    <div class="row page-content">

      {% if page.url != "/demos.html" %}
      <div class="text-center">
        <a href="/demos.html" class="btn-continue"><i class="wow fadeInLeft fa fa-arrow-right"></i> More Demos</a>
      </div>
      {% endif %}

      <div id="wowrecentposts" class="owl-carousel">

        <div class="item">
          <div class="thethumbnail">
            <a href="http://developer.kaazing.com/portfolio/foreign-exchange-dashboard"><img src="/img/Foreign-Exchange-Dashboard.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="http://developer.kaazing.com/portfolio/foreign-exchange-dashboard">
            <h2>Real-time Foreign Exchange Currency Quotes</h2>
            </a>
            <div class="meta clearfix">
            </div>
            <div class="excerpt">
              Access your trading data on your desktop browser or mobile device in real-time. You can assemble your own personalized dashboard to track currency pairs. Adjust data refresh rate between 10 and 100 messages/sec.
            </div>
          </div>
        </div><!-- /.item -->

        <div class="item">
          <div class="thethumbnail">
            <a href="/demos/racer/index.html"><img src="/img/racer.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="/demos/racer/index.html">
            <h2>Drive a Formula One Race Car with a Smart Phone</h2>
            </a>
            <div class="meta clearfix">
            </div>
            <div class="excerpt">
              Control a WebGL Formula One car on your desktop from the Web browser of your smart phone by simply tilting it. No browser extension or application installation needed. Works over any network, such as WiFi, 4G, or LTE.
            </div>
          </div>
        </div><!-- /.item -->

        <div class="item">
          <div class="thethumbnail">
            <a href="http://developer.kaazing.com/portfolio/second-screen-application"><img src="/img/Second-Screen-Application.png" class="attachment-post-thumbnail" alt=""/></a>
          </div>
          <div class="textin">
            <a href="http://developer.kaazing.com/portfolio/second-screen-application">
            <h2>Second Screen: Synchronize Your Smartphone and TV</h2>
            </a>
            <div class="meta clearfix">
            </div>
            <div class="excerpt">
               Experience live events synchronized on a primary screen (TV) and a second screen (smartphone). As the events unfold on the big screen, questions and betting opportunities are displayed on the big screen.
            </div>
          </div>
        </div><!-- /.item -->

      </div><!-- /#wowrecentposts -->

    </div><!-- .row -->

  </div><!-- /.container -->

</section>
