<!--SECTION home (intro)
================================================== -->
<section id="home" class="parallax parallax-image dark-bg" style="background-color: #000000; background-image:url(img/saturn.jpg);">
  <div class="wrapsection">
    <div class="container">
      <div class="parallax-content">
        <div class="row">
          <div class="wowanimslider fullwidth flexslider clearfix">
            <ul class="slides">
              <li>
              <div class="caption text-center" style="padding-top:120px;padding-bottom:120px; color:#ffffff;">
                <h1 class="home-slide-content">This is <span class="stresscolor">websocket.org</span></h1>
                <h6>The one-stop-shop for all your WebSocket needs.</h6>
                <a href="/echo.html" class="btn no"><i class="fa fa-flask"></i> Get Started</a>
              </div>
              </li>
              <li>
              <div class="caption text-center" style="padding-top:120px;padding-bottom:120px; color:#ffffff;">
                <h1 class="home-slide-content wow" data-wow-delay="0s" data-wow-duration="1s">Powered by <span class="stresscolor">Kaazing</span></h1>
                <h6 class="wow" data-wow-delay="0.6s" data-wow-duration="1s">High performance, enterprise grade, WebSocket server - designed for security.</h6>
                <a href="#" class="btn no wow" data-wow-delay="0.9s" data-wow-duration="1s"><i class="fa fa-book"></i> Learn More</a>
              </div>
              </li>
              <li>
              <div class="caption text-center" style="padding-top:120px;padding-bottom:120px; color:#ffffff;">
                <h1 class="wow " data-wow-delay="" data-wow-duration=""><span class="wow" data-wow-delay="0.0s" data-wow-duration="3s">Demos</span><span class="wow" data-wow-delay="0.4s" data-wow-duration="3s"> & </span><span class="stresscolor wow" data-wow-delay="0.0s" data-wow-duration="3s">How-To's</span></h1>
                <h6 class="wow" data-wow-delay="0.6s" data-wow-duration="1.5s">From the real-time Web community</h6>
                <a href="/demos.html" class="btn no wow" data-wow-delay="0.9s" data-wow-duration="1s"><i class="fa fa-share"></i> Demos</a>
                <a href="/quantum.html" class="btn color wow" data-wow-delay="0.9s" data-wow-duration="1s"><i class="fa fa-download"></i> How Tos</a>
              </div>
              </li>
            </ul>
          </div><!-- /.wowanimslider -->
        </div><!-- /.row -->
      </div><!-- /.parallax-content -->
    </div><!-- /.container -->
  </div><!-- /.wrapsection -->
</section>
