

<!-- SECTION after-intro
================================================== -->
<section id="after-intro" class="page-wrapper light-bg">
  <div class="container">
    <div class="title-area">
      <h2 class="title orange">Real-life WebSocket Challenges</h2>
    </div>
    <br/><br/>
    <div class="row page-content">

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.1s">
          <h4>Security</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius venenatis ligula et aliquet. Etiam metus lorem, dignissim vitae commodo at, blandit ultricies quam.
          </p>
          <i class="fa fa-jsfiddle"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.3s">
          <h4>Scale</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius venenatis ligula et aliquet. Etiam metus lorem, dignissim vitae commodo at, blandit ultricies quam.
          </p>
          <i class="fa fa-paper-plane-o"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.5s">
          <h4>Performance</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius venenatis ligula et aliquet. Etiam metus lorem, dignissim vitae commodo at, blandit ultricies quam.
          </p>
          <i class="fa fa-git-square"></i>
        </div>
      </div>

      <div class="clearfix"></div>
      <br/>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.1s">
          <h4>Emulation</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius venenatis ligula et aliquet. Etiam metus lorem, dignissim vitae commodo at, blandit ultricies quam.
          </p>
          <i class="fa fa-rebel"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.3s">
          <h4>Protocols</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius venenatis ligula et aliquet. Etiam metus lorem, dignissim vitae commodo at, blandit ultricies quam.
          </p>
          <i class="fa fa-graduation-cap"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.5s">
          <h4>Client technologies</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius venenatis ligula et aliquet. Etiam metus lorem, dignissim vitae commodo at, blandit ultricies quam.
          </p>
          <i class="fa fa-life-ring"></i>
        </div>
      </div>

    </div><!-- .page-content -->
  </div><!-- .container -->
</section>