

<!-- SECTION after-intro
================================================== -->
<section id="after-intro" class="page-wrapper light-bg">
  <div class="container">
    <div class="title-area">
      <h2 class="title orange">Real-life WebSocket Challenges</h2>
    </div>
    <br/><br/>
    <div class="row page-content">

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.1s">
          <h4><a href="http://kaazing.com/streaming/security">Security</a></h4>
          <p>
            Data sent over WebSocket naturally must cross many organizational and firewall boundaries across the globe. They also must be available to any type of computing device from desktop to mobile or embedded devices.
          </p>
          <i class="fa fa-jsfiddle"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.3s">
          <h4>Scale</h4>
          <p>
            Being able to scale elasticall is cucial for any real-life deployment. Learn how you can scale your WebSocket applications.
          </p>
          <i class="fa fa-paper-plane-o"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.5s">
          <h4>Performance</h4>
          <p>
            One of the key promises of applications built using WebSockets is to be perform in ways traditional HTTP-based apps can't.
          </p>
          <i class="fa fa-git-square"></i>
        </div>
      </div>

      <div class="clearfix"></div>
      <br/>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.1s">
          <h4>Emulation</h4>
          <p>
            Older clients, mobile devices, or browsers behind firewalls and proxies that don't support WebSocket communication should not be excluded of the party.
          </p>
          <i class="fa fa-rebel"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.3s">
          <h4>Protocol layering</h4>
          <p>
            WebSocket was designed as a transport layer protocol, to be TCP for the Web. Layering higher level, richer business protocols, such as pub/sub on top of it gives you a lot of flexibility and power.
          </p>
          <i class="fa fa-graduation-cap"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="servicestyle5 wow fadeIn" data-wow-delay="0.5s">
          <h4>Client technologies</h4>
          <p>
            WebSocket, as a communications protocol can be used in many environments and programming languags, ranging from JavaScript and Java, all the way to .NET and C.
          </p>
          <i class="fa fa-life-ring"></i>
        </div>
      </div>

    </div><!-- .page-content -->
  </div><!-- .container -->
</section>