<!-- SECTION pricing
================================================== -->
<section id="pricing" class="page-wrapper light-bg">

  <div class="container">

    <div class="title-area">
      <h2 class="title">Pricing </h2>
    </div><!-- /.title-area -->

    <div class="row page-content">

      <div class="wow-pricing-table col-md-4">
        <div class="wow-pricing wow-column-">
          <div class="wow-pricing-header">
            <h5>Silver</h5>
            <div class="wow-pricing-cost">
              $69.99
            </div>
            <div class="wow-pricing-per">
              per month
            </div>
          </div>
          <div class="wow-pricing-content">
            <ul>
              <li>5 products</li>
              <li>1 image per product</li>
              <li>basic stats</li>
              <li>non commercial</li>
            </ul>
          </div>
          <div class="wow-pricing-button">
            <a href="#" class="wow-button buttonprice" target="_self" rel="nofollow"><span class="wow-button-inner">Sign Up</span></a>
          </div>
        </div>
      </div><!-- /.col-md-4 -->

      <div class="wow-pricing-table col-md-4">
        <div class="wow-pricing featured wow-column-">
          <div class="wow-pricing-header">
            <h5>Premium</h5>
            <div class="wow-pricing-cost">
              $339.99
            </div>
            <div class="wow-pricing-per">
              per month
            </div>
          </div>
          <div class="wow-pricing-content">
            <ul>
              <li>5 products</li>
              <li>1 image per product</li>
              <li>basic stats</li>
              <li>non commercial</li>
            </ul>
          </div>
          <div class="wow-pricing-button">
            <a href="#" class="wow-button buttonprice" target="_self" rel="nofollow"><span class="wow-button-inner">Sign Up</span></a>
          </div>
        </div>
      </div><!-- /.col-md-4 -->

      <div class="wow-pricing-table col-md-4">
        <div class="wow-pricing wow-column-">
          <div class="wow-pricing-header">
            <h5>Ultim</h5>
            <div class="wow-pricing-cost">
              $429.99
            </div>
            <div class="wow-pricing-per">
              per month
            </div>
          </div>
          <div class="wow-pricing-content">
            <ul>
              <li>15 products</li>
              <li>4 image per product</li>
              <li>premium stats</li>
              <li>commercial</li>
            </ul>
          </div>
          <div class="wow-pricing-button">
            <a href="#" class="wow-button buttonprice" target="_self" rel="nofollow"><span class="wow-button-inner">Sign Up</span></a>
          </div>
        </div>
      </div><!-- /.col-md-4 -->

    </div><!-- /.row -->

  </div><!-- /.container -->

</section>