<!-- SECTION services
================================================== -->
<section id="services" class="page-wrapper light-bg">

	<div class="container">

		<div class="title-area">
			<h2 class="title">Facts About websocket.org </h2>
			<p class="subtitle">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor consectetur adipisicing elit sed do eiusmod tempor
			</p>
		</div><!-- /.title-area -->

		<div class="row page-content">

			<div class="col-md-4">
				<div class="feature-item wow " data-wow-delay="0.1s">
					<div class="icon" style="background-color:#444;">
						<i class="fa fa-css3 icon-custom-style"></i>
					</div>
					<h4>One or Multiple Page</h4>
					<p class="description">
						SIMPLE TO USE, EDIT AND REMOVE
					</p>
					<span class="sep"></span>
					<p>
						WordPress Theme is a collection of files that work together to produce a graphical interface with an underlying unifying design for a weblog.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="col-md-4">
				<div class="feature-item wow " data-wow-delay="0.3s">
					<div class="icon">
						<i class="fa fa-html5 icon-custom-style"></i>
					</div>
					<h4>Parallax Effect</h4>
					<p class="description">
						10 SKIN COLORS AVAILABLE &amp; INFINITE
					</p>
					<span class="sep"></span>
					<p>
						WordPress Theme is a collection of files that work together to produce a graphical interface with an underlying unifying design for a weblog.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="col-md-4">
				<div class="feature-item wow " data-wow-delay="0.5s">
					<div class="icon" style="background-color:#444;">
						<i class="fa fa-wordpress icon-custom-style"></i>
					</div>
					<h4>Wordpress Version</h4>
					<p class="description">
						EASY TO FOLLOW DOCUMENTATION
					</p>
					<span class="sep"></span>
					<p>
						WordPress Theme is a collection of files that work together to produce a graphical interface with an underlying unifying design for a weblog.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="clearfix"></div>
			<div style="height: 25px"></div>

			<div class="col-md-4">
				<div class="feature-item shortcfeature2 wow" data-wow-delay="0.5s">
					<div class="icon" style="color:#444;border:1px solid #666;">
						<i class="fa fa-send icon-custom-style"></i>
					</div>
					<h4>One or Multiple Page</h4>
					<p class="description">
						SIMPLE TO USE, EDIT AND REMOVE
					</p>
					<span class="sep"></span>
					<p>
						WordPress Theme is a collection of files that work together to produce a graphical interface with an underlying unifying design for a weblog.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="col-md-4">
				<div class="feature-item shortcfeature2 wow " data-wow-delay="0.9s">
					<div class="icon">
						<i class="fa fa-rebel icon-custom-style"></i>
					</div>
					<h4>Parallax Effect</h4>
					<p class="description">
						10 SKIN COLORS AVAILABLE &amp; INFINITE
					</p>
					<span class="sep"></span>
					<p>
						WordPress Theme is a collection of files that work together to produce a graphical interface with an underlying unifying design for a weblog.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

			<div class="col-md-4">
				<div class="feature-item shortcfeature2 wow " data-wow-delay="1.2s">
					<div class="icon" style="color:#444;border:1px solid #666;">
						<i class="fa fa-bullhorn icon-custom-style"></i>
					</div>
					<h4>Wordpress Version</h4>
					<p class="description">
						EASY TO FOLLOW DOCUMENTATION
					</p>
					<span class="sep"></span>
					<p>
						WordPress Theme is a collection of files that work together to produce a graphical interface with an underlying unifying design for a weblog.
					</p>
				</div>
			</div><!-- /.col-md-4 -->

		</div><!-- /.page-content -->

	</div><!-- /.container -->

</section>
